/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header */
header {
    background-color: #222; /* Darker gray for the header background */
    color: #87CEEB; /* Text color for the header is dark gray */
    text-align: center;
    padding: 20px;
}

/* Basic styling for the navigation menu */
nav {
    background-color: #222; /* Black for the navigation menu */
    color: white; /* Text color for navigation links */
    text-align: center;
    padding: 10px;
    border: 2px solid #87CEEB; /* Border color for the navigation menu options */
}

nav ul {
    list-style-type: none;
    text-align: center; /* Center-align the entire navigation menu */
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    border: 2px solid #87CEEB; /* Set border color to white */
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s; /* Transition background color and text color on hover */
}

nav a:hover {
    background-color: white; /* Set background color to white on hover */
    color: #555; /* Change text color on hover to dark gray */
}

/* Main content area */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border: 5px solid #87CEEB; /* Add a border to the main content with the soft blue color */
}

/* Global text styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    text-align: left;
}
.info-box {
    border: 3px solid #87CEEB; /* Soft blue border */
    padding: 20px;
    background-color: white; /* Background color inside the box */
    text-align: center;
    margin: 20px 0;
}

.info-box p {
    font-size: 25px; /* Adjust the font size as needed */
}
.content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center align items */
}

.content img {
    max-width: 50%; /* Adjust the width of the image as needed */
    padding: 20px; /* Add padding for spacing */
}

/* Page title style */
h1 {
    font-size: 48px; /* Increased font size */
    font-weight: bold; /* Make the font bold */
    color: white; /* Set text color to white */
}

/* Navigation links style */
ul, li, a {
    font-size: 18px;
}

/* Style the header link */
.header-link {
    text-decoration: none; /* Remove underlining */
    color: #87CEEB; /* Set text color to white */
    font-size: 48px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the font bold */
}

.header-link:hover {
    color: #555; /* Change text color on hover */
}